body {
    margin:0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    background-color: #040714;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased
}

header {
    height: 0;
    max-width: 1920px;
}
nav {
    height: 70px;
    max-width: 1920px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-posFixed {
    height: 50px;
    width: 200px;
    padding: 8px 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}
nav a {
    margin: 5px;
    padding: 8px 16px;
    height: 32px;
    max-width: 170px;
    border: 1px solid #F9F9F9;
    background-color: #000000cc;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
nav a:hover {
    background-color: #F9F9F9;
}
nav a span {
    color: #F9F9F9;
}
nav span:hover {
    color:#000000cc ;
}
.hero {
    max-width: 1920px;
    height: 100vh ;
    background-image: url(images/main-img.jpg);
    background-size: contain;
    padding: 5.6vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}
.hero-container {
    min-height: 100vh;
}
.container-subs {
    max-width: 700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.container-subs h3 {
    font-size: 28px;
    margin: 0px 0px 28px;
    color:#F9F9F9;
    text-align: center;
    line-height: 25px;
}
.container-subs img {
    width: 400px;
    height: 163.42px;
    padding: 10px;
}
.container-btn {
    width: 640px;
    height: 254px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.btn-subs {
    width: 600px;
    height: auto;
    background-color: #0063E5;
    margin: 0px 0px 20px;
    padding: 20px 33px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
}
.btn-subs a {
    font-size: 18px;
    color:#F9F9F9;
    margin: 3px 0px 0px;
    line-height: 25px;
    text-decoration: none;
}
#p-nota {
    font-size: 12px;
    color: #C0C0C0;
    margin: 0px 0px 24px;
    text-align: center;
    line-height: 22px;
    width: 590px;
}
#span-aclaracion {
    font-size: 20px;
    color: #F9F9F9;
    text-decoration: underline;
    line-height: 25px;
}
#p-precios {
    font-size: 18px;
    color: #C0C0C0;
    margin: 0px 0px 24px;
    line-height:25px ;
    text-align: center;
}
.container-pantallas {
    max-width: 1920px;
    height: auto;
    padding: 5.6vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.pantallas-img {
    max-width: 852px;
    max-height: 682px;
}
.pantallas-img img {
    max-width: 852px;
    max-height: 682px;
}
.pantallas-texto {
    max-width: 852px;
    height: auto;
    padding: 0px 38px;
}
.pantallas-texto h2 {
    font-size: 40px;
    color: #F9F9F9;
    margin: 0px 0px 24px;
    line-height: 30px;
}
.pantallas-texto p {
    font-size: 20px;
    color: #C0C0C0;
    margin: 0px 0px 24px;
    line-height: 30px;
}
.container-combo {
    max-width: 1920px;
    height: auto;
    padding: 5.6vh;
    display: flex;
    align-items: center;
}
.combo-texto {
    width: 852px;
    height: 160px;
    padding: 0px 38px;
}
.combo-texto p {
    font-size: 18px;
    margin: 0px 0px 20px;
    color: #C0C0C0;
    line-height: 30px;
}
.btn-combo {
    max-width: 360px;
    max-height: 60px;
    background-color: #0063E5;
    padding: 16px 24px;
    text-align: center;
}
.btn-combo a {
    color: #F9F9F9;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
}
.combo-img {
    max-width: 852px;
    max-height: 715px;
}
.combo-img img {
    width: 852px;
    height: 715px;
}
.container-descarga {
    max-width: 1920px;
    height: auto;
    padding: 5.6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-leon {
    background-image: url(images/reyleon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1800px;
    height: 900px;
}
.descarga-texto {
    max-width: 788px;
    height: auto;
    padding: 0px 28px;
    line-height: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 45%;
}
.descarga-texto h3 {
    font-size: 28px;
    color: #F9F9F9;
    margin: 0px px 24px;
}
.descarga-texto p {
    font-size: 18px;
    color: #C0C0C0;
    margin: 0px 0px 20px;
}
.container-dispositivos {
    max-width: 1920px;
    height: auto;
    padding: 5.6vh;
}
.container-dispositivos h2 {
    font-size: 40px;
    color: #F9F9F9;
    text-align: center;
    line-height: 50px;
}
.container-cards {
    max-width: 1800px;
    height: 535px;
    display: flex;
    justify-content: center;
}
.card-dispositivo {
    max-width: 450px;
    height: 535px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px;
}
.card-dispositivo img {
    width: 400px;
    height: 200px;
}
.card-dispositivo h3 {
    font-size: 28px;
    margin: 20px 0px 24px;
    color: #F9F9F9;
}
.card-dispositivo p {
    font-size: 18px;
    color: #C0C0C0;
    margin: 0px 0px 20px;
    line-height: 28px;
}
footer {
    max-width: 1920px;
    height: 194px;
    padding: 26px 8px;
    margin: 0px;
}
.footer-links {
    max-width: 1921px;
}
.footer-img {
    display: flex;
    justify-content: center;
}
.footer-img img {
    width: 80px;
    height: 43.53px;
}

.links ul {
    display: flex;
    justify-content: center;
}
.links ul li {
    list-style: none;
    padding: 0;
}
.links ul li a {
    font-size: 12px;
    color: #C0C0C0;
    text-decoration: none;
    padding: 8px 12px;
}
.footer-nota {
    max-width:1920px;
    height: 88px;
}
.footer-nota p {
    font-size: 12px;
    color: #C0C0C0;
    margin: 0px 0px 20px;
    line-height: 22px;
    text-align: center;
}
@media only screen and (max-width:1024px){
    body {
        font-size: 18px;
    line-height: 28px;
    }
    .hero {
        background-image: url(images/heroimg2.jfif);
        background-position: cover;
        padding: 40vw 5vw 10vw;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        height: auto;
        width: 100%;
    }
    .hero-container {
        position: relative;
        bottom: 25%;
        left: 10%;
        min-height:100vh ;
    }
    .container-subs {
        padding: 0;
        height: 543px;
    }
    .container-subs h3 {
        font-size: 24px;
    }
    .container-subs img {
        width: 320px;
        height: 130.73px;
    }
    .container-pantallas {
        padding: 10vw 5vw;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
    }
    .pantallas-img {
        max-width: auto;
        height: auto;
    }
    .pantallas-img img {
        max-width: 453.61px;
        height: auto;
    }
    .pantallas-texto {
        max-width: 453.61px ;
        height: auto;
    }
    .pantallas-texto h2 {
        font-size: 28px;
    }
    .pantallas-texto p {
        font-size: 18px;
    }
    .container-combo {
        padding: 10vw 5vw;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
    }
    .combo-texto {
        max-width: 453.61px;
        height: auto;
        padding: 0;
    }
    .combo-texto p {
        font-size: 16px;
    }
    .combo-img {
        max-width: auto;
        height: auto;
    }
    .combo-img img {
        max-width: 453.61px;
        height: auto;
    }
    .container-descarga {
        padding: 10vw 5vw;
        width: 100%;
        height: auto;
    }
    .img-leon {
        height: 564.47px;
    }
    .descarga-texto h3 {
        font-size: 24px;
    }
    .descarga-texto p {
        font-size: 16px;
    }
    .container-dispositivos {
        padding: 10vw 5vw;
        width: 100%;
        height: auto;
    }
    .container-cards {
        max-width: 1008px;
        height: auto;
    }
    .card-dispositivo {
        max-width: 232.8px;
        height: 400.39px;
        padding: 12px;
    }
    .card-dispositivo img {
        max-width: 208.8px;
        height: 104.39px;
    }
    .container-dispositivos h2 {
        font-size: 28px;
    }
    .card-dispositivo h3 {
        font-size: 24px;
    }
    .card-dispositivo p {
        font-size: 16px;
    }
}
@media only screen and (min-width:480px) and (max-width:768px){
    .hero {
        width: 100%;
        display: flex;
    }
    .hero-container {
        max-width: 500px;
    }
    .container-pantallas {
        display: flex;
        flex-direction: column;
        padding: 10vw 5vw;
    }
    .pantallas-img {
        margin: 0px 0px 20px;
    }
    .pantallas-texto {
        text-align: center;
        margin: 0px 0px 20px;
        max-width: 692px;
    }
    .pantallas-img img {
        max-width: 692px;
        height: auto;
}
    .container-combo {
        display: flex;
        flex-direction: column-reverse;
        padding: 10vw 2vw;
        max-width: 700px ;
    }
    .combo-texto {
        text-align: center;
        margin: 0px 0px 20px;
        max-width: 692px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .combo-img {
        margin: 0px 0px 20px;
    }
    .combo-img img{
        max-width: 680px;
        height: auto;
    }
    .container-descarga {
        padding: 10vw 2vw;
        max-width: 700px ;
    }
    .img-leon {
        background-image: url(images/reyLeon-MQ.png);
        margin-bottom: 20px;
        max-width: 680px;
    }
    .descarga-texto {
        text-align: center;
        margin: 0px 0px 20px;
        max-width: 692px;
        position: inherit;
    }
    .container-dispositivos {
        padding: 10vw 2vw;
        max-width: 700px ;
    }
    .container-cards {
        display: flex;
        flex-wrap: wrap;
    }
}